<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grizo's Password Manager</title>        
        <link rel="stylesheet" href="../static/css/login.css">
        <link rel="stylesheet" href="../static/css/global.css">
        <link rel="stylesheet" href="../static/css/header.css">
        <script src="../static/js/login.js"></script>

    </head>
    <script>
        window.onload= (function() {
            document.getElementById('btn-log-in').addEventListener("click", login);
        })
    </script>
    <body>
        <header>
            <section class="banner-logo">
                <img id='banner-logo' src="../static/images/banner-logo.png" alt="Grizo's Password Manager logo">
                <p>Password Manager</p>
            </section>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About Us</a></li>
                <li><a href="/contact/">Contact Us</a></li>
                <li><a href="/services/">Services</a></li>
                <li><a href="/reviews/">Reviews</a></li>
            </ul>
            <form action="/">
                <button type="button" id="btn-sign-in">Sign In</button>
            </form>
        </header>
        <main>
            <section class="section-login-form">
                <h1>LOG IN...</h1>
                <form action="" class="log-in-form" method="POST">
                    <label for="txtbox-username" id="lbl-username">Master Username</label>
                    <input type="text" name="master-username" id="txtbox-username">
                    <label for="txtbox-password" id="lbl-password">Master Password</label>
                    <input type="password" name="master-password" id="txtbox-password">
                    <div id="div-remember-me">
                        <input type="checkbox" name="remember-me" id="ckbox-remember-me" value="Remember">
                        <label for="ckbox-remember-me" id="lbl-remember-me">Remember me...</label>
                    </div>
                    <button type="reset" id="btn-clear">Clear</button>
                    <button type="submit" id="btn-log-in">Log In</button>
                </form>
            </section>
        </main>
    </body>
</html>