<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grizo's Password Manager</title>
        <link rel="stylesheet" type="text/css" href="../static/css/global.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/header.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/user-records.css" />
        <script type="text/javascript" src="../static/js/user-records.js" defer></script>
    </head>
    <body>
        <header>
            <section class="banner-logo">
                <img id='banner-logo' src="../static/images/banner-logo.png" alt="Grizo's Password Manager logo">
                <p>Password Manager</p>
            </section>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/" id="records-link">Records</a></li>
                <li><a href="/">Services</a></li>
            </ul>
            <div class="dropdown">
                <button class="btn-dropdown-menu">AMP7320</button>
                <div class="dropdown-content">
                    <button type="button" id="btn-account-settings">Account Settings</button>
                    <button type="button" id="btn-log-out">Log Out</button>
                </div>
            </div>
        </header>
        <main>
           
        </main>
    </body>
</html>