<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grizo's Password Manager</title>
        <link rel="stylesheet" type="text/css" href="../static/css/global.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/user-header.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/user-records.css" />
        <script type="text/javascript" src="../static/js/user-records.js" defer></script>
    </head>
    <script>
        window.onload= (function(){
            
            token()            
            
        })
    </script>
    <body>
        <header>
            <section class="banner-logo">
                <img id='banner-logo' src="../static/images/banner-logo.png" alt="Grizo's Password Manager logo">
                <p>Password Manager</p>
            </section>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/" id="records-link">Records</a></li>
                <li><a href="/">Services</a></li>
            </ul>
            <div class="dropdown">
                <div id="dropdown-icon">
                    <span class="arrow down"></span>
                </div>
                <button id="btn-dropdown-menu"><span>AMP7320</span></button>
                <div id="dropdown-content">
                    <button type="button" id="btn-account-settings">Account Settings</button>
                    <button type="button" id="btn-log-out">Log Out</button>
                </div>
            </div>
        </header>
        <main>
           <h1>Records</h1>
           <section>
               <form action="">
                   <label for="txt-search-bar">Search</label>
                   <input type="text" id="txt-search-bar" placeholder="Type record ID or URL here...">
                   <input type="image" src="../static/images/search-icon.svg" id="img-search-icon" name="submit" alt="Submit search query">
               </form>
           </section>
           <div class="table" id="inputTable">
                <div class="tr">
                    <!-- <span class="th">Record ID</span> -->
                    <span class="th">Domain URL</span>
                    <span class="th">Username</span>
                    <span class="th">Password</span>
                    <span class="th">Actions</span>
                </div>
                <form action="" class="tr" method="POST"id= "userDataField">
                    <!-- <span class="td record-id"><input type="text" class="table-input"></span> -->
                    <span class="td domain-url"><input type="text" placeholder="" class="table-input"></span>
                    <span class="td username"><input type="text" placeholder="" class="table-input"></span>
                    <span class="td password"><input type="text" placeholder="" class="table-input"></span>
                    <div class="td">
                        <input type="image" src="../static/images/view-record-icon.svg" class="action-icon" name="submit" alt="Submit search query">
                        <input type="image" src="../static/images/edit-record-icon.svg" class="action-icon" name="submit" alt="Submit search query">
                        <input type="image" src="../static/images/delete-record-icon.svg" class="action-icon" name="submit" alt="Submit search query">
                    </div>
                </form>
                <!-- <form action="" class="tr" method="POST">
                    <span class="td record-id"><input type="text" class="table-input"></span>
                    <span class="td"><input type="text" class="table-input" id="inputURL"></span>
                    <span class="td"><input type="text" class="table-input" id="inputUsername"></span>
                    <span class="td"><input type="text" class="table-input" id="inputPassword"></span>
                    <div class="td">
                        <input type="image" src="../static/images/view-record-icon.svg" class="action-icon" name="submit" alt="Submit search query">
                        <input type="image" src="../static/images/edit-record-icon.svg" class="action-icon" name="submit" alt="Submit search query">
                        <input type="image" src="../static/images/delete-record-icon.svg" class="action-icon" name="submit" alt="Submit search query">
                    </div>
                </form> -->
           </div>
        </main>
    </body>
</html>