#records-link {
    color: black;
}

main {
    width: 90%;
    height: 100%;
    margin: 50px auto 50px auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
    border-style: none;
}

h1 {
    margin: 5% 5% 0% 5%;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 5px;
    font-size: 48pt;
    color: #4ea9c2;
    font-family: 'Saira Semi Condensed', sans-serif
}

form {
    /* border: red 1px solid; */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

form input#txt-search-bar {
    height: 35px;
    width: 25%;
    border-radius: 25px;
    font-size: 12pt;
    height: 35px;
    padding: 0px 35px 0px 15px;
    margin: 1%;
}

input:focus {
    outline: none;
}

form label {
    height: 35px;
    font-size: 20pt;
    margin: 5% 1% 0% 5%;
    color: #2892af;
}

#img-search-icon {
    width: 32px;
    position: relative;
    left: -56px;
    top: 12px;;
}

div.table {
    /* border: red 1px solid; */
    display: table;
    margin: auto;
    padding: 0%;
    width: 90%;
    height: auto;
    border-spacing: 0;
    border-collapse: collapse;
}


span.th {
    display: table-cell;
    font-size: 16pt;
    color: #2892af;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    padding-bottom: 5px;
}

div.tr, form.tr {
    display: table-row;
    margin: 0;
    padding: 0%;
}

span.td, div.td{
    display: table-cell;
    margin: 0%;
    padding: 0%;
    border: black 1px solid;
    background-color: #E9EDF8;
}

input.table-input {
    width: 90%;
    margin: 3% 5% 1% 4%;
    font-size: 15pt;
    padding-top: 0;
    border: none;
    background-color: transparent;
    /* border: red 1px solid; */
}

div.td {
    padding: auto;
    width: 150px;
    /* border: red 1px solid; */
    align-content: center;
}


div.td input.action-icon {
    width: 25px;
    /* border: red 1px solid; */
    margin: 5px 0px 0px 5px;
}

span.record-id {
    width: 15%;
}

