#records-link {
    color: black;
}

header button {
    margin: 1% 0%;
}

#btn-dropdown-menu {
    cursor: pointer;
    width: 100%;
    position: relative;
    top: -15px;
}

.dropdown {
    float: right;
    margin: 3% 2% 2% 0%;
    display: inline-block;
    width: 15%;
    padding: 0%;
}

#dropdown-content {
    position: relative;
    top: -15px;
    background-color: black;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    padding: 0%;
}

#dropdown-content button {
    color: black;
    display: block;
    width: 100%;
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

#btn-dropdown-menu:active .dropdown-content{
    display: block;
}


.arrow {
    position: relative;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 0%;
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  #dropdown-icon {
    position: relative;
    left: -50px;
    top: 30px;
    border: grey solid 5px;
    background-color: lightgray;
    width: 45px;
    height: 40px;
    box-sizing:border-box;
  }

  #dropdown-icon:hover {
      background-color: lightslategray;
  }